/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.buttonCo {
 -fx-background-color:DarkGray;
  -fx-text-color: DarkOrange;
  -fx-font-weight: bold;
  -fx-border: none;
  -fx-cursor: pointer;
  -fx-border-radius: 20px;
  -fx-text-align: center
    }
    
.buttonAplus {
 -fx-background-color:DarkGray;
  -fx-text-color: DarkOrange;
  -fx-font-weight: bold;
  -fx-border: none;
  -fx-cursor: pointer;
  -fx-border-radius: 20px;
  -fx-text-align: center
    }
    
.buttonPropos {
 -fx-background-color:DarkGray;
  -fx-text-color: DarkOrange;
  -fx-font-weight: bold;
  -fx-border: none;
  -fx-cursor: pointer;
  -fx-border-radius: 20px;
  -fx-text-align: center
    }
    
 .labelcopyRight{
-fx-font-family: "Lucida Sans Unicode";
-fx-text-fill:black;
-fx-font-posture:italic;
    }
  
  .styleTitle{
-fx-font-family: "Lucida Sans Unicode";
-fx-text-fill:black;
-fx-font-weight: bold;
-fx-font-size: 25px
}

.labelDetails{
-fx-font-family: "Lucida Sans Unicode";
-fx-text-fill:black;
-fx-font-size: 15px
	
}

.labelRadioBtn{
-fx-font-family: "Lucida Sans Unicode";
-fx-text-fill:black;
-fx-font-size: 13px
	
}